<div class="header-container">
  <div class="logo-container">
      <div class="img-logo">
          <img src="/assets/icons/free-icon-car-846296.png" alt="" height ="80px" width=" 80px" (click)="home()">
      </div>
      <div class="logo-name">SellCar service</div>
  </div>
  <div class="user-container">
      <div class="user-name">
          <div>User: </div>
          <div> {{ userLogin }}</div>
      </div>
      <img src="/assets/icons/user.png" alt="" height ="60px" width=" 60px" style="padding-top: 10px; cursor: pointer;" (click)="account()">
      <div class="user-logout"><img class="img-logout" src="/assets/icons/log-out.png" alt="" height ="40px" width=" 40px"  (click)="logout()"></div>
  </div>
</div>
<div class="popup-container">
    <div class="container">
      <div class="popup-header">
        <div class="popup-title">Авторизация</div>
      </div>
      <div class="popup-body">
        <div>
          <div>
            <form ngNativeValidate class="form" (ngSubmit)="login()">
              <div>
                <div class="input-field">
                  <label for="Login">Логин: </label>
                  <input id="Login" required placeholder="Login" type="text" name="Login" [(ngModel)]="userloginpage.username"/>
                </div>
                <div class="input-field">
                   <label for="Password">Пароль: </label>
                   <input id="Password" required placeholder="Password" type="password" name="Password" [(ngModel)]="userloginpage.password"/>
                </div>
                <div class="error-message" *ngIf="isInvalidLoginOrPassword">Invalid user password or login</div>
                <div class="error-message placeholder" *ngIf="!isInvalidLoginOrPassword"></div>
              </div>
              <div class="button-container">
                <button class="additional-button" (click)="goToRegistrationPage()">Регистрация</button>
                <button type="submit">Вход</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>