<div class="page">
<general-comp></general-comp>
  <div class="container">
      <div class="an">
          <div *ngIf="canChange == false; else adminForm">
                <div class="an-container" *ngFor="let a of AnArray"> 
                    <h1>Объявление о продаже {{ a.brand }}  {{ a.model }}</h1>
                    <div class="Image" >
                    <advanced-image class="Image" [cldImg]="img"></advanced-image>
                    </div>  
                    <div class="card">Марка: {{ a.brand }}</div>
                    <div class="card">Модель: {{ a.model }} </div>
                    <div class="card">Цена: {{ a.price }} BYN</div>
                    <div class="card">Год выпуска: {{ a.carYear }}</div>
                    <div class="card">Тип привода: {{ a.typeOfDriverUnit }}</div>
                    <div class="card">Объем двигателя: {{ a.engineCapacity }}</div>
                    <div class="card">Пробег: {{ a.mileage }}</div>
                    <div class="card">Описание: {{ a.anDescription }}</div>
                    <div class="card">Контактные данные: {{ a.userPhone }} <img src="/assets/icons/copy.png" alt="" (click)="copyToClipBoard(a.userPhone)" class="img-copy"></div>
                    <div *ngFor="let info of userInfo">
                      <div class="card">ФИО: {{info.userName}}</div>
                      <div class="card">Почта: {{info.userEmail}} </div><img src="/assets/icons/copy.png" alt="" (click)="copyToClipBoard(info.userEmail)" class="img-copy">
                      <div class="card">Город: {{info.city}} </div>
                    </div>
                </div>
            </div>
            
              <ng-template #adminForm>
                <div class="form-container" *ngFor="let a of AnArray">
                  <h1>Объявление о продаже {{brand}} {{model}}</h1>
                  <div class="before-container">
                      <h3>Текущее объявление:</h3>
                    <div class="an-container">
                      <div class="Image" >
                      <advanced-image class="Image" [cldImg]="img"></advanced-image>
                      </div>
                      <div class="card">Марка: {{ a.brand }}</div>
                      <div class="card">Модель: {{ a.model }} </div>
                      <div class="card">Цена: {{ a.price }} BYN</div>
                      <div class="card">Год выпуска: {{ a.carYear }}</div>
                      <div class="card">Тип привода: {{ a.typeOfDriverUnit }}</div>
                      <div class="card">Объем двигателя: {{ a.engineCapacity }}</div>
                      <div class="card">Пробег: {{ a.mileage }}</div>
                      <div class="card">Описание: {{ a.anDescription }}</div>
                      <div class="card">Контактные данные: {{ a.userPhone }} <img src="/assets/icons/copy.png" alt="" (click)="copyToClipBoard(a.userPhone)" class="img-copy"></div>
                      <div *ngFor="let info of userInfo">
                        <div class="card">ФИО: {{info.userName}}</div>
                        <div class="card">Почта: {{info.userEmail}} </div><img src="/assets/icons/copy.png" alt="" (click)="copyToClipBoard(info.userEmail)" class="img-copy">
                        <div class="card">Город: {{info.city}} </div>
                      </div>
                    </div>
                        <h3>Изменить текущее объявление на:</h3>
                        <form ngNativeValidate class="form" (ngSubmit)="ChangeAnnouncement()">
                          <div>
                            <div class="input-field">
                              <label for="brand">Марка: </label>
                              <input id="Brand" required placeholder="" type="text" name="Brand" [(ngModel)]="announcement.brand" />
                            </div>
                            <div class="input-field">
                              <label for="model">Модель: </label>
                              <input id="Model" required placeholder="" type="text" name="Model" [(ngModel)]="announcement.model" />
                            </div>
                            <div class="input-field">
                              <label for="photo">Фотография: </label>
                              <input class="photo" id="Photo" required placeholder="" type="file" name="Photo" (change)="eventClick($event)" [(ngModel)]="announcement.carImage"/>
                            </div>
                            <div class="input-field">
                              <label for="price">Цена (в рублях): </label>
                              <input id="Price" required placeholder="" type="text" name="Price"  [(ngModel)]="announcement.price" />
                            </div>
                            <div class="input-field">
                              <label for="caryear">Год выпуска: </label>
                              <input id="CarYear" required placeholder="" type="text" name="CarYear" [(ngModel)]="announcement.carYear" />
                            </div>
                            <div class="input-field">
                              <label for="typeOf">Тип привода: </label>
                              <input id="TypeOf" required placeholder="" type="text" name="TypeOf" [(ngModel)]="announcement.typeOfDriverUnit" />
                            </div>
                            <div class="input-field">
                              <label for="engineCapacity">Объем двигателя (в литрах): </label>
                              <input id="EngineCapacity" required placeholder=""  type="number" min="1" max="6" step="0.1" name="EngineCapacity" [(ngModel)]="announcement.engineCapacity" />
                            </div>
                            <div class="input-field">
                              <label for="mileage">Пробег: </label>
                              <input id="Mileage" required placeholder="" type="text" name="Mileage" [(ngModel)]="announcement.mileage" />
                            </div>
                            <div class="input-field">
                              <label for="description">Описание: </label>
                              <input id="Description" required placeholder="" type="text" name="Description" [(ngModel)]="announcement.anDescription" />
                            </div>
                            <div class="input-field">
                               <label for="contacts">Контактные данные (актуальный номер телефона): </label>
                               <input id="Contacts" required placeholder=""  type="text" name="Contacts" [(ngModel)]="announcement.userPhone" />
                            </div>
                            <div class="error-message" *ngIf="isInvalidChange">Невозможно изменить объявление</div>
                            <div class="error-message placeholder" *ngIf="!isInvalidChange"></div>
                          </div>
                        <div class="button-container">
                      <button type="submit">Изменить объявление</button>
                      <button type="button" (click)="deleteAnnouncement()">Удалить объявление</button>
                    </div>
                  </form>
                 </div>
                </div>
              </ng-template>
            </div>
      </div>  
</div>