@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    font-style: normal;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
}
.page{
    background-color: #e7edf3;
    height: 880px;
}
.page-container{
    background-color: white;
    border-radius: 1px solid black;
    margin: 20px 80px 20px 80px;
    height: 710px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}
.carform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-field{
    display: flex;
    justify-content: space-between;
}
button{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 20px;
      margin-top: 30px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
      inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
      cursor: pointer;
}