.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 100px;
    padding: 15px;
    margin-left: 480px;
    margin-top: 200px;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
    inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
}
.popup-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.popup-title {
    font-size: 24px;
    font-weight: bold;
    width: 400px;
    text-align: center;
    text-overflow: ellipsis;
  }

.popup-body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

    label {
      
      font-size: 20px;
      margin-right: 10px;
    }

    input {
      height: 30px;
      padding: 10px;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 20px;
      margin-top: 30px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
      inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
      cursor: pointer;

      &:hover {
        box-shadow: unset;
      }
    }
}

.input-field{
    display: flex;
    flex-direction: column;
}
.button-container{
    display: flex;
    justify-content: space-around;
}