@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    font-size: 26px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: black;
}
h1{
    font-weight: bold;
}
.contaiber{
    margin-bottom: 10px;
    margin-top: 20px;
}

.main-container{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #e7edf3;
    min-height: 880px;
    max-height: auto;
}
.home-container{
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    margin: 0px 80px 30px 80px;
    background-color: white;
    height: auto;
    max-height: auto;
    
}

.info-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    width: auto;
    height: 300px;
    border: solid 1px lightgray;
    border-radius: 10px;
    background: #FAEBD7;
}
.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 900px;
    max-width: auto;
    height: 300px;
}
.img-info{
    height: 100%;
    object-fit: cover;
}
.brand-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 10px 0 10px;
    padding: 20px 0 20px 0;
    max-width: auto;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: lightgray;
    max-height: 300px;
}

.line{
    margin: 0 0 20px 0px;
}
.an-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: auto;

    
}
.brand{
    cursor: pointer;
}
.card{
    position: relative;
    width: 380px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}