<div class="main-container">
    <app-general></app-general>
    <div class="info-container">
        <div class="info-text"><h1>SellCar это Онлайн-сервис</h1> для размещения объявлений о купли-продажи автомобилей</div>
        <img class="img-info" src="/assets/icons/promo2.jpg" alt="">
    </div>
    
    <div class="home-container">
        <div class="contaiber">
            <hr class="line">
            <div class="brand-container">
                <div class="brand" *ngFor="let brand of brandArray" (click) = "getUserBrands(brand)">{{ brand }}</div>
                <div class="brand" (click)="getAllBrands()">Очистить</div>
            </div>
            <div class="an-container">
                <div class="card"  *ngFor="let an of AnArray" (click)="getAnnouncement(an.id, an.brand, an.model)">{{ an.brand }} {{ an.model }} {{ an.price }} BYN</div>
            </div>
        </div>
    </div>  
</div>